
<%= render "shared/nav" %>
  
<div class="container">
  <h1>Welcome!</h1>
    <p>
      Account: <%= current_user.email %><br>
      Sbn: <%= current_user.sbn %>
    </p>
    <p>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </p>
    <p>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
    </p>
</div>



<hr>
  <div class="col d-flex justify-content-center">
    <div class="card " style="width: 33rem;">
      <div class="card-body">
    <% if @myhash[:name].nil? %>
        <%= "Invalid SBN" %>
    <% else %>
        <%= @myhash[:name] %><br>
        <%= @myhash[:address] %><br>
        <%= @myhash[:phone] %><br>
        <%= @myhash[:email] %><br>
        <%= link_to "Do something", trials_index_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

<hr>





