
<%= render "shared/nav" %>
 


<div class="container">
  <h1>Welcome!</h1>
    <p>
      Account: <%= current_user.email %><br>
      Sbn: <%= current_user.sbn %>
    </p>
    <p>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </p>
    <p>
      <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
    </p>
</div>



<hr>
  <div class="col d-flex justify-content-center">
    <div class="card " style="width: 33rem;">
      <div class="card-body">
    <% if @myhash[:name].nil? %>
        <%= "Invalid SBN" %>
    <% else %>
        <%= @myhash[:name] %><br>
        <%= @myhash[:address] %><br>
        <%= @myhash[:phone] %><br>
        <%= @myhash[:email] %><br>
        <%= link_to "Do something", trials_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

<hr>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="casepism" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>





