<%= render 'shared/nav' %>

<h3>Ncfs#index</h3>

	<% if @ncfs.nil? %>
		<p>You are not tracking any new case filings.</p>
	<% else %>
		<p>Tracking: <%= @ncfs.count %> new filings</p>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				<tbody>
				<tr>
					<% @ncfs.each do |i| %>
						<td><%= i.name %></td>
					<% end %> 
				</tr>


			

			
		<% end %>

		<%= form_with url: "/ncfs_add", method: :get do |form| %>
			  <%= form.label :query, "Track name:" %>
			  <%= form.text_field :query %>
			  <%= form.submit "Add", class: "btn btn-primary"  %>
		<% end %>
<hr>

<%= params %>
<hr>





	



 